/* label {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
} */

/* .form-control{
    margin-left: 249px; 
    width: 210px;
} */
.required
{
    color: red;
}

.form-control.ng-touched.ng-invalid {
  border:1px solid red;
 }
 .form-control.ng-touched.ng-valid {
  border:1px solid green;
 }
 ngb-pagination ::ng-deep .page-item.active .page-link {
    background-color:#75DDB2;
    border-color: #75DDB2;

  }
  
  ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem #75DDB2;
  }
  
  ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem #75DDB2;
  }