<!-- <div class="card"  style="width: 75rem;">
    <div class="card-body">     -->
      <!-- <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
          <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>
        </div>
      </nav> -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav nav-pills">
        <li class="sub-selected" style="margin-left: 20px; margin-right: 20px;">
          <a *ngIf="!mcref"  data-toggle="tab" class="nav-link" style="margin-left: 40px; font-size: medium;" [routerLink]="['/list-mc-reference']" routerLinkActive="active">Master Consignment Dec</a>
        </li>
        <li class="nav nav-pills">
            <a *ngIf="!transDoc" data-toggle="tab" class="nav-link" [routerLink]="['/transport-doc']" routerLinkActive="active">Transport-Doc</a>
        </li>
        <li class="nav nav-pills">
            <a  *ngIf="!transDocMsr" data-toggle="tab" class="nav-link" style="margin-left: 40px; font-size: medium;" [routerLink]="['/mctrans-doc-msr']" routerLinkActive="active">MC Transport Document_msr</a>
        </li>
        <li class="nav nav-pills">
            <a  *ngIf="!transEqupmnt" data-toggle="tab" class="nav-link" style="margin-left: 40px; font-size: medium;" [routerLink]="['/mctrans-eqpmnt']" routerLinkActive="active">MC Transport Equipment</a>
        </li>
        <li class="nav nav-pills">
          <a  *ngIf="!itrny" data-toggle="tab" class="nav-link" style="margin-left: 40px; font-size: medium;" [routerLink]="['/mbl/itrny']" routerLinkActive="active">MC Itinerary</a>
      </li>
      </ul>
    </div>
  </nav>
