.required
{
    color: red;
}

.btn {

    margin-left: 200px; 
    width: 10rem; 
    margin-top: 10px; 
    font-family: open-sans-regular; 
    font-weight: 400; 
    font-size: 16px; 
    text-align: center;
}

.card {
    width: 40rem; height: 22rem;
    margin-left: 50px;
    margin-top: 80px;
}
 .user {
    margin-left: 450px;
 }
.form-control{
    width: 500px;
    }
@media screen and (max-width:900px) {

        .card{
            max-width: 350px;
            height: 350px;
            margin-left: 50px;
            margin-top: 100px;
        }
        .form-control{
            width: 300px;
            }

            .user {
                margin-left: 200px;
             }

             
.btn {

    margin-left: 90px; 
    // width: 10rem; 
    // margin-top: 10px; 
    // font-family: open-sans-regular; 
    // font-weight: 400; 
    // font-size: 16px; 
    // text-align: center;
}
     
 }