<app-home></app-home>
<app-mbl></app-mbl>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

</div>
<div class="col-md-6 user-container">
    <h2 style="margin-top: 10px;color: green;">MBL-Details</h2>
    <div class="row-md-6" style="margin-top: 2rem; margin-left: 2rem;">
        <button type="button" (click)="addMBL()" class="btn"
            style="width: 10rem; background-color:#75DDB2; color: white;" id="addMbl">Add MBL</button>
    </div>
    <nav class="navbar">
        <input class="form-control" type="search" name="city" [(ngModel)]="city" (ngModelChange)="search()"
            placeholder="Search MBL Here....">
    </nav>
    <div class="table-responsive-sm">
        <table class="table table-sm table-hover table-fixed" style="width:76rem; margin-top: 2rem; margin-left: 10px;">
            <thead style="background-color: #75DDB2; color: white;">
                <tr>
                    <th  scope="col" sortable="id">MBL No</th>
                    <th scope="col" sortable="city">Line</th>
                    <th scope="col" sortable="code">Dest</th>
                    <th scope="col" sortable="countryCode">MBL Date</th>
                    <th scope="col" sortable="countrySubDiv">Creation Date</th>
                    <th scope="col" sortable="countrySubDivName">Transmission Date</th>
          
                    <th scope="col" sortable="countrySubDivName">Transmission Status</th>
                    <th scope="col" sortable="countrySubDivName">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mcRef of mcRefList |slice: (page-1) * pageSize : page * pageSize">
                    <td>{{mcRef.mstrBlNo}}</td>
                    <td>{{mcRef.lineNo}}</td>
                    <td>{{mcRef.destPrt}}</td>
                    <td>{{mcRef.mstrBlDt}}</td>
                    <td>{{mcRef.createdAt}}</td>
                   
                    <td>{{mcRef.createdAt}}</td>
                    <td>     
                        <i  [ngClass]="icon" style="color:green;" class="fa fa-check-square-o" aria-hidden="true" placement="top" ngbTooltip="IceGate Response: 0  SUCCESS"></i>
                    </td>
                    <td><button class="btn btn" (click)="editMcRef(mcRef)"
                            style="width:5rem; margin-right:1rem; color: white; background-color: #75DDB2;" id="edit">Edit</button>
                        <button class="btn btn-danger" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                            [popoverMessage]="popoverMessage" placement="left" (confirm)="deleteMcRef(mcRef)"
                            (cancel)="cancelClicked = true">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination style="color: green;" [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize"></ngb-pagination>
        <div class="d-flex justify-content-between p-2">
        </div>
    </div>
</div>
