/* ngb-pagination ::ng-deep a {
    color: black !important;
  }
   */

   ::ng-deep .tooltip-inner {
    width: 400px;
    background-color:red;
    color: white;
}
  ngb-pagination ::ng-deep .page-item.active .page-link {
    background-color:#75DDB2;
    border-color: #75DDB2;

  }
  
  ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem #75DDB2;
  }
  
  ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem #75DDB2;
  }


  